
input{
  padding: 5px 10px;
}
ul.sug-list{
  margin-top: 5px;
  border: 1px solid;
  li.sug-item{
    border: 1px solid;
    padding: 5px;
  }
  .active{
  background-color: black;
  color: white;
  }
}