*{
  font-family: sans-serif;
  color: black;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
}
button{
  cursor: pointer;
}
svg{
  width: 20px;
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* Legacy fallback */
  clip-path: inset(50%) !important;          /* Modern standard */
  white-space: nowrap !important;
  border: 0 !important;
}   
